<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Carthage Binary Repository</servlet-name>
        <servlet-class>org.kaizen.cbr.EnrtyPoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Carthage Binary Repository</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
<!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    <context-param>
        <param-name>Repository.location</param-name>
        <param-value>/Users/shanewhitehead/.CarthageBinaryRepository</param-value>
    </context-param>
</web-app>
